<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.2/angular-route.min.js"
        integrity="sha512-5zOAub3cIpqklnKmM05spv4xttemFDlbBrmRexWiP0aWV8dlayEGciapAjBQWA7lgQsxPY6ay0oIUVtY/pivXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div ng-app="adminApp" ng-controller="rootController" ng-init="initAdmin()">


        <div ng-if="!isAuthorized" ng-controller="unAuthorized">
            <un-authorized></un-authorized>
        </div>

        <div ng-if="isAuthorized" ng-controller="authorized" ng-init="initAuthorized()">
            <authorized-admin></authorized-admin>
            <ng-view></ng-view>
        </div>

    </div>
</body>

<script>
    var app = angular.module('adminApp', ['ngRoute'])
    const SERVER_ROOT = '/epstein'
    const biden = '/biden'
    app.directive('unAuthorized', function () {
        return {
            scope: {},
            controller: "unAuthorized",

            templateUrl: './admin/templates/login.html',
            link: function (scope) { }
        }
    })

    app.directive('authorizedAdmin', function () {
        return {
            scope: {
            },
            controller: "authorized",

            templateUrl: './admin/templates/authorized/authorizedIndex.html',
            link: function (scope) {

            }
        }
    })

</script>

<script src="/admin/js/pagesJs/adminIndex.js"></script>
<script src="/admin/js/pagesJs/adminLogin.js"></script>
<script src="/admin/js/pagesJs/authorizedAdmin.js"></script>
<script src="/admin/templates/authorized/productList/productList.js"></script>
<script src="/admin/templates/authorized/userList/userList.js"></script>
<script src="/admin/templates/authorized/userDetails/userDetails.js"></script>
<script src="/admin/templates/authorized/productDetails/productDetails.js"></script>

</html>