<!DOCTYPE html>
<html lang="en">

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <div ng-app="adminApp">

        <div>
            <un-authorized></un-authorized>
        </div>


    </div>
</body>

<script src="admin/js/admin.js"></script>
<script src="admin/js/login.js"></script>

</html>