<head>
    <title>Admin Panel</title>
    <link rel="icon" href="/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/admin/style.css">
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <script src="/admin/js/others/linechart.js"></script>
    <script src="/admin/js/others/jquery-3.5.1.slim.min.js"></script>
    <script src="/admin/js/others/bootstrap.min.js"></script>

    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script src="/admin/js/others/jquery.waypoints.min.js"></script>
    <script src="/admin/js/others/jquery.counterup.min.js"></script>

</head>
<style>
    .selected {
        border-bottom: 1px solid;
        color: black;
        font-weight: bold;
    }
</style>

<body>
    <div class="fluid _container">
        <div ng-include="'/admin/sections/authorized/navbar.html'">
        </div>
        <products-view ng-if="showType==2"></products-view>
        <users-view ng-if="showType==3"></users-view>
    </div>

</body>