*{
	box-sizing: border-box;
}
 
footer{
    background: black;
    color: white;
}
.bdb{
	height: inherit;
}
 

.aaaaa{
	border: 10px solid;
	border-radius: 20px;
	margin-bottom: 50px
}
.bbbb{
	left: 5%;
	position: relative;
	top: -30px;
	background: white;
	border: 5px solid green;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	
}
.b1{
	left: 5%;
}
.bbbb li{
	padding-left: 5%;
}
.card{
	box-shadow: 2px 2px 10px gray;
}

.card:hover{
	box-shadow: 2px 2px 20px gray;	
}

.slider{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.notif{
	display: flex;
	flex-direction: row;
}

.notif img{
	width: 100px;
	display: flex;
	display: inline-block;
}

.extra1{
	background: url(../assets/v.jpg);
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;  
  
}

.extra1 h2{
	flex-shrink: 0;
	color: white;
	text-shadow: 0px 0px   5px black;
}

.pdlist{
	margin-top: -130px
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
