<style>
    .center {
        text-align: center;
    }

    .pagination {
        display: inline-block;
    }

    .pageBtn {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
        cursor: pointer;
        text-decoration: none;
    }

    .pageBtn.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
        cursor: not-allowed
    }

    .pageBtn:hover:not(.active) {
        background-color: #ddd;
    }
</style>
<div ng-init="initUserPage()">
    <div class="container">
        <h3>Users Table</h3>
    </div>

    <table style="width: 100vw;" class="table table-hover table-bordered table-striped col-lg-12">

        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Phone </th>
                <th> Created on</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <span>
                        <input type="text" ng-model="searchFilter.firstName" placeholder="first name">
                        <input type="text" ng-model="searchFilter.lastName" placeholder="last name">


                    </span>
                </td>
                <td>
                    <input type="text" ng-model="searchFilter.phoneNumber" placeholder="phoneNumber">

                </td>
            </tr>
            <tr ng-repeat="user in userList">
                <td>
                    <img ng-src="{{user.imageURL}}" style="width: 50px;max-height: 50px;border-radius: 50%;" alt="">
                </td>
                <td> {{user.fullName}} </td>
                <td> {{user.phoneNumber}} </td>
                <td>{{ parseDate(user.createdOn) }} </td>
                <td>
                    <button class="btn btn-success" ng-click="viewUser(user.id)">Details</button>
                </td>

            </tr>
        </tbody>
    </table>
    <div class="center">
        <div class="pagination" ng-repeat="n in pageButtonsArray">
            <a ng-if="n==-1" class="pageBtn" ng-click="changePage(-1)">&laquo;</a>
            <a ng-if="n>0" ng-click="gotoPage(n)" ng-class="{active: currentPageNumber==n }" class="pageBtn "> {{n}}
            </a>
            <a ng-if="n==-2" class="pageBtn" ng-click="changePage(1)">&raquo;</a>
        </div>
    </div>
</div>