<!-- my ads -->
<div ng-if="isAuthorized" class="modal fade" id="product-modal-ads" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="prod-list-title">Products you have posted</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ul id="products-posted" style="list-style: none;" ng-if="myads.length">
                    <!--dynamic contents-->
                    <li style="box-shadow: 5px 5px 5px;margin-bottom: 10px;" ng-repeat="product in myads">
                        <div style="display: grid;grid-template-columns: 30% 55% 15%;border-radius: 5px;">
                            <img ng-src="{{product.image1}}" style="height: 50px;width:50px" alt="">
                            <div>
                                <p style="margin:-2px;">Type: {{product.type}}</p>
                                <p style="margin:-2px;">Price: {{product.askedPrice}} taka.</p>
                                <p style="margin:-2px;">Time: {{product.postedOn}} </p>
                            </div>
                            <a style="margin-top: 15px;" href="./adsPage.html" class="btn btn-primary">view</a>
                        </div>
                    </li>

                    <!--dynamic contents end-->
                </ul>
                <h4 style="text-align: center;">
                    You haven't posted any ads :(
                    <button class="btn btn-primary" ng-click="initPostAd()">Post and ad</button>
                </h4>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- my ads end-->