<!--signup modal-->
<div class="modal fade" ng-if="!isAuthorized" id="signup-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="label">Sign Up</h4>
                <p id="descreg">Please fill up all the fields</p>
            </div>
            <div class="modal-body" style="max-height:100vh;overflow-y: scroll;">
                <p id="desc"></p>
                <form class=" " id="signup" ng-submit="submitSignUp()">
                    <div class="d-flex">
                        <div class="mr-2">
                            <p for="uname" style="min-width: 130px;">Profile Image: </p>
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control " id="proPic" name="proPic" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please upload your real picture or no one would want to
                                make
                                trade
                                with you</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="fname_reg" ng-model="signupModel.firstName"
                                autocomplete="off"" placeholder=" Enter Firstname" name="fname" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="lname_reg" ng-model="signupModel.lastName"
                                placeholder="Enter Last name" name="lname" required>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="email" class="form-control" id="mail_reg" ng-model="signupModel.email"
                            placeholder="Enter Email" name="mail" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="form-group d-flex">
                        <p class="my-auto">Mobile: </p>
                        <input type="text" class="form-control" id="phoneUp" ng-model="signupModel.phoneNumber"
                            placeholder="Enter phone number" name="phoneUp" required value="+880 ">
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd_reg" ng-model="signupModel.password"
                            autocomplete="off" placeholder="Enter password" name="pswd" required>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember" required> I agree on
                            <a href="/terms">Terms and Conditions</a>
                            <div class="valid-feedback">Valid.</div>
                            <div class="invalid-feedback">Check this checkbox to continue.</div>
                        </label>
                    </div>
                    <button id="submit_reg" type="submit" class="btn btn-success">Sign Up!</button>
                    <div class="spinner-grow text-primary" id="signupSpin" style="display: none;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--signup modal end-->