<head>
    <title>Admin Panel</title>
    <link rel="icon" href="/admin/images/favicon.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/admin/style.css">
    <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
    <script src="/admin/js/otherslinechart.js"></script>
    <script src="/admin/js/othersjquery-3.5.1.slim.min.js"></script>
    <script src="/admin/js/othersbootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>

    <script src="/admin/js/othersjquery.waypoints.min.js"></script>
    <script src="/admin/js/othersjquery.counterup.min.js"></script>

</head>

<body>
    <div class="fluid _container">
        <div ng-include="'/admin/templates/authorized/navbar.html'">
        </div>
        <products-view ng-if="showType==1"></products-view>
        <users-view ng-if="showType==2"></users-view>
    </div>

</body>