<div class=" ">

    <div class="navbar navbar-expand-sm navbar-light bg_custom">
        <img class="logo" src="/favicon.png" alt="">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsible_items">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsible_items">


            <ul class="navbar-nav ml-auto">
                <li class="nav-item" ng-class="{selected:showType==1}"><a class="nav-link" ng-click="changeView()">Dashboard</a></li>
                <li class="nav-item" ng-class="{selected:showType==2}"><a class="nav-link" ng-click="changeView()">Products</a>
                </li>
                <li class="nav-item" ng-class="{selected:showType==3}">
                    <a class="nav-link" ng-click="changeView()">
                      
                         Users 
                    </a>
                </li>
                <li class="nav-item"  ng-class="{selected:showType==4}"><a class="nav-link" ng-click="changeView()">Transactions</a></li>
                <li class="nav-item" ng-class="{selected:showType==5}"><a class="nav-link" ng-click="logout()">Logout</a></li>
            </ul>

        </div>
    </div>
</div>