<!-- search modal -->
<div class="modal fade" id="searchResultModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Search Result</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                <div class="container-fluid" style="overflow-x: scroll;">
                    <div class="row flex-row flex-nowrap">
                        <div class="s_card">
                            <div class="card" style="min-width:250px;">
                                <img class="card-img-top negro" src="" alt="Card image">
                                <div class="card-body">
                                    <h4 class="text-success prixe">Price: 450 taka</h4>
                                    <h4 class="ctgr">Category: Chair</h4>
                                    <h5>Used for: 2 year</h5>
                                    <h6 class="">11 users have offered</h6>
                                    <a href="productpage.html" class="button btn btn-primary">Check it out!</a>
                                </div>
                            </div>
                        </div>

                        <div class="s_card">
                            <div class="card" style="min-width:250px">
                                <img class="card-img-top negro" src="" alt="Card image">
                                <div class="card-body">
                                    <h4 class="text-success prixe">Price: 450 taka</h4>
                                    <h4 class="ctgr">Category: Chair</h4>
                                    <h5>Used for: 4 year</h5>
                                    <h6 class="">23 users have offered</h6>
                                    <a href="productpage.html" class="button btn btn-primary">Check it out!</a>
                                </div>
                            </div>
                        </div>
                        <div class="s_card">
                            <div class="card" style="min-width:250px">
                                <img class="card-img-top negro" src="" alt="Card image">
                                <div class="card-body">
                                    <h4 class="text-success prixe">Price: 450 taka</h4>
                                    <h4 class="ctgr">Category: Chair</h4>
                                    <h5>Used for: 3 year</h5>
                                    <h6 class="">16 users have offered</h6>
                                    <a href="productpage.html" class="button btn btn-primary">Check it out!</a>
                                </div>
                            </div>
                        </div>
                        <div class="s_card">
                            <div class="card" style="min-width:250px;">
                                <img class="card-img-top negro" src="" alt="Card image">
                                <div class="card-body">
                                    <h4 class="text-success prixe">Price: 450 taka</h4>
                                    <h4 class="ctgr">Category: Chair</h4>
                                    <h5>Used for: 1 year</h5>
                                    <h6 class="">6 users have offered</h6>
                                    <a href="productpage.html" class="button btn btn-primary">Check it out!</a>
                                </div>
                            </div>
                        </div>
                        <div class="s_card">

                            <div class="card" style="min-width:250px">
                                <img class="card-img-top negro" src="" alt="Card image">
                                <div class="card-body">
                                    <h4 class="text-success prixe">Price: 450 taka</h4>
                                    <h4 class="ctgr">Category: Chair</h4>
                                    <h5>Used for: 1 year</h5>
                                    <h6 class="">9 users have offered</h6>
                                    <a href="productpage.html" class="button btn btn-primary">Check it out!</a>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- search modal end -->

<!--notifications modal-->
<div ng-include="'./shared/modals/notification.html'"></div>
<!--notifications modal end-->

<div ng-include="'./shared/modals/login.html'"></div>

<div ng-include="'./shared/modals/signup.html'"></div>

<!--update modal-->
<div ng-include="'./shared/modals/updateUser.html'"></div>
<!--update modal end-->


<div ng-include="'./shared/modals/cart.html'"></div>

<div ng-include="'./shared/modals/owned.html'"></div>

<!--post ad modal-->
<div ng-include="'./shared/modals/adveritse.html'"></div>
<!--post ad modal end-->


<!--bargain-->
<div id="bargain-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Offer a price compatible for you</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="addToCart()">
                    <div class="form-group d-flex">
                        <p for="bargainPc" class="my-auto">Price: </p>
                        <input ng-model="cart.offeredPrice" class="form-control" autocomplete="off" type="number"
                            name="Price" placeholder="e.g. 700" required="">
                    </div>
                    <div class="form-group d-flex">
                        <p for="bargainPc" class="my-auto">Place where you want to receive this product: </p>
                        <input ng-model="cart.whereToReceive" class="form-control" autocomplete="off" type="text"
                            name="Price" required>
                    </div>
                    <button type="submit" class="btn btn-large btn-success" type="submit">Done!</button>
                </form>
            </div>

        </div>
    </div>
</div>
<!--bargain end-->

<!-- conditions -->
<div id="login-or-signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex container" style="display: flex;">
                <div>You must
                    <button class="btn btn-primary" data-toggle="modal" data-target="#login-modal"
                        data-dismiss="modal">Log in
                    </button>
                    or
                    <button class="btn btn-primary" data-toggle="modal" data-target="#signup-modal"
                        data-dismiss="modal"> Sign
                        up</button>
                    to proceed.
                </div>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


        </div>
    </div>
</div>

<!-- conditions end-->



<div class="modal modal-fullscreen-xl" id="modal-fullscreen-xl" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img style="width:100%" ng-src="{{selectedImg}}" / </div>

            </div>
        </div>
    </div>
</div>


<div id="confirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="my-modal-title">Confirmation</h5>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <b>By clicking the confirm button, you are accepting the offer of the following user for
                        this product.</b>
                    <div class="row" style="border: 5px solid;">
                        <div class="col-sm-6 col-lg-6">
                            <img ng-src='{{selectedBuyer.Buyer.imageURL}}' alt="" style="width: 100%;">
                        </div>
                        <div class="col-sm-6 col-lg-6">
                            <p>Name: {{selectedBuyer.Buyer.firstName}} {{selectedBuyer.Buyer.lastName}}</p>
                            <p>Location: {{selectedBuyer. whereToReceive}} </p>
                            <p>Offer: {{selectedBuyer.offeredPrice}} taka </p>
                            <p> Time: {{parseTime(selectedBuyer.time)}} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="confBtnx" class="btn btn-success">Confirm!</button>
            </div>
        </div>
    </div>
</div>