<nav class="navbar navbar-expand-md navbar-dark justify-content-between  homepagenav" style="width: 100%;">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a href="/"><img class="logo user ml-n4" src="./assets/system/logo.png" alt=""></a>

    <div class="d-flex" id="top">
        <input class="bg-transparent sinput" type="number" id="searchbar" placeholder="e.g. 500৳" autocomplete="off">
        <select id="prods" class="bg-transparent mr-2 selec">
            <!-- <option value="null">All types</option> -->
            <option value="Chairs">Chairs</option>
            <option value="Beds">Beds</option>
            <option value="Tables">Tables</option>
        </select>
        <button class="btn" id="searchBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>

    <div class="dropdown dropleft" ng-if="isAuthorized" id="loggedin">
        <div style="display: grid;grid-template-columns: 50% 50%;">
            <p style="cursor:pointer;font-size:20px ;transform: translateY(25%);" ng-click="getNotifications()">🔔</p>
            <button class="btn btn-light bg-transparent border-0" data-toggle="dropdown" data-target="#colp"
                style="padding: 0;">
                <img ng-src="{{currentUser.imageURL}}" style="max-height: 40px; margin-top: 0; border-radius: 50px;"
                    alt="">
            </button>
        </div>

        <div id="colp" class="dropdown-menu ">
            <div class="dropdown-item activeusr">
                <a class="" ng-click="initPostAd()">Post an Ad</a>
            </div>
            <div class="dropdown-item activeusr">
                <a class=" " ng-click="initUpdate()">Update info</a>
            </div>
            <div class="dropdown-item activeusr">
                <a class="" ng-click=getMyAds()>My Ads</a>
            </div>
            <div class="dropdown-item activeusr">
                <a class="" ng-click="getmycarts()">My
                    Carts</a>
            </div>

            <div class="dropdown-item activeusr">
                <a ng-click="logout()"> Log
                    Out</a>
            </div>
        </div>
    </div>

    <div class="dropdown dropleft " ng-if="!isAuthorized" id="nouser">
        <button class="btn btn-light bg-transparent border-0" data-toggle="dropdown" style="padding: 0; outline: none;">
            <img src="./assets/system/Avatar.png" style="max-height: 40px; margin-top: 0;" alt="">
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-item noUser" id="loginbtn" data-toggle="modal" data-target="#login-modal">Log in
            </div>
            <div class="dropdown-item noUser" id="signupnbtn" data-toggle="modal" data-target="#signup-modal">Sign
                up
            </div>
        </div>
    </div>
</nav>


<div class="loading" ng-if="isAJAXBusy" id="loader"> </div>