<div class="col-sm-12 col-lg-10" style="float:right; min-width: 500px; ">
    <div class="extra" style="text-align: center;" id="section1">
        <h3 class="mt-5">Looking for some Beds?</h3>

    </div>
    <br>
    <br>
    <div class="pdlist">
        <div class="slider">
            <ul id="autoWidth1" class="cs-hidden mx-2">
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <br>
    <div class="jumbotron" id="section2">
        <h1 style="display: flex;">Today's Featured</h1>
        <hr>
        <div class="row d-flex" style="display: flex;justify-content: center; align-items: center;">
            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <h3>Product with lowest price</h3>
            </div>
            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <div class="card product" style="width:400px">
                    <img class="card-img-top" src="./assets/products/a.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="text-success">Price: 1450 taka</h4>
                        <h5>Category: Bed</h5>
                        <h5>Used for: 5 year</h5>
                        <h6>9 users have offered</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex" style="display: flex;justify-content: center;align-items: center;">

            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <div class="card product" style="width:400px">
                    <img class="card-img-top" src="./assets/products/a.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="text-success">Price: 2430 taka</h4>
                        <h5>Category: Table</h5>
                        <h5>Used for: 5 months</h5>
                        <h6>12 users have offered</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <h3>Least used product</h3>
            </div>
        </div>
        <div class="row d-flex" style="display: flex;justify-content: center;align-items: center;">
            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <h3>Most popular product</h3>
            </div>
            <div class="col-sm-12 col-lg-6 mb-5" style="display: flex;justify-content: center;align-items: center;">
                <div class="card product" style="width:400px">
                    <img class="card-img-top" src="./assets/products/a.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="text-success">Price: 2250 taka</h4>
                        <h5>Category: Chair</h5>
                        <h5>Used for: 1 year</h5>
                        <h6>19 users have offered</h6>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="extra my-5" style="text-align: center;" id="section3">
        <h3>We have good quality chairs that are worth checking out</h3>

    </div>
    <div class="pdlist">
        <hr>
        <div class="slider">
            <ul id="autoWidth3" class="cs-hidden mx-2">
                <li id="item-a product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 1220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>22 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-b product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 3350 taka</h4>
                            <h5>Used for: 7 months</h5>
                            <h6>2 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-c product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 4550 taka</h4>
                            <h5>Used for: 3 year</h5>
                            <h6>4 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-d product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width:300px;" alt="">
                            <h4 class="text-success">Price: 1110 taka</h4>
                            <h5>Used for: 4 year</h5>
                            <h6>63 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-e product">
                    <div class="crdbod">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 2340 taka</h4>
                            <h5>Used for: 1 year</h5>
                            <h6>33 users have offered</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="extra1" style="text-align: center;">
        <h2>Wait there's more!</h2>
    </div>


    <div class="extra my-5" style="text-align: center;" id="section4">
        <h3>Perhaps quality tables are waiting for you..</h3>
    </div>
    <div class="pdlist">
        <hr>
        <div class="slider">
            <ul id="autoWidth3" class="cs-hidden mx-2">
                <li id="item-a">
                    <div class="crdbod product">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 450 taka</h4>
                            <h5>Used for: 1 year</h5>
                            <h6>99 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-b">
                    <div class="crdbod product">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 3350 taka</h4>
                            <h5>Used for: 4 year</h5>
                            <h6>78 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-c">
                    <div class="crdbod product">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 4220 taka</h4>
                            <h5>Used for: 2 year</h5>
                            <h6>67 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-d">
                    <div class="crdbod product">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width:300px;" alt="">
                            <h4 class="text-success">Price: 4110 taka</h4>
                            <h5>Used for: 3 year</h5>
                            <h6>56 users have offered</h6>
                        </div>
                    </div>
                </li>
                <li id="item-e ">
                    <div class="crdbod product">
                        <div class="card m-3 " style="align-items: center;">
                            <img src="./assets/products/a.jpg" style="width: 300px;" alt="">
                            <h4 class="text-success">Price: 9800 taka</h4>
                            <h5>Used for: 5 year</h5>
                            <h6>45 users have offered</h6>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>