<!-- <div class="card" style="width:400px;flex: 0 0 auto">
    <div class="card-body">
        <div class="crdbod product">
            <div class="card m-3 pb-3" style="align-items: center;">
                <img ng-src="{{currentProduct.image1}}" style="width: 300px;height: 300px;" alt="">
                <h4 class="text-success">Price: {{currentProduct.askedPrice}} taka</h4>
                <h5>Used for: {{currentProduct.usedFor }}</h5>
                <h6>{{currentProduct.customerCount}} user(s) have offered</h6>

                <button ng-click="viewProd(currentProduct.id)" class="btn btn-primary">View Details</button>
            </div>
        </div>
    </div>
</div> -->

<div class="col-sm-12 col-lg-12 mb-5" style="display: flex;justify-content: center;align-items: center;">
    <div class="card product" style="width:400px">
        <img class="card-img-top" ng-src="{{currentProduct.image1}} alt=" Card image" style="height:300px">
        <div class="card-body">
            <h4 class="text-success">Price: {{currentProduct.askedPrice}} taka</h4>
            <h5>Used for: {{currentProduct.usedFor }}</h5>
            <h6>{{currentProduct.customerCount}} user(s) have offered</h6>
            <button ng-click="viewProd(currentProduct.id)" class="btn btn-primary">View Details</button>

        </div>

    </div>
</div>